<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Solutions Engineer at
      <a
        class="underline-link"
        href="https://www.zapier.com/"
        target="_blank"
        >Zapier</a
      >
      working remotely from
      <a
        class="underline-link"
        href="https://maps.google.com/maps?q=Grand%20Rapids,MI&z=17"
        target="_blank"
        >Grand Rapids, Michigan</a
      >. I work with our various Partners who are attempting to integrate 
      with Zapier by building integrations and embeding our product 
      experiences directly into their own platform! 
      Previously, at Zapier, I was an App Integrations Engineer 
      building and maintaining integrations that Zapier owned themselves.
    </p>

    <p>
      As a partner focused engineer, I enjoy bridging the gap between
      engineering, business development, partnerships, and so many other skill
      sets &mdash; combining my technical knowledge with my need to work with
      people. My goal is to engage with partners and help them build amazing new
      products and experiences using our APIs.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably
      mixing up a cocktail, rock climbing, traveling the world with my wife, or
      hanging out with my cat.
      <img
        class="emoji"
        src="/img/emojis/arya.png"
        alt="Arya emoji"
      />
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
