<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project example">
      <figure class="project__pic">
        <a href="https://example.com/" target="_blank">
          <img
            src="{{site.baseurl}}/img/featured/example/example.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://example.com/" target="_blank">example</a>
        </div>
        <p>
          Custom description for example.
        </p>
      </figcaption>
    </div>

    <div class="project secondExample">
      <figure class="project__pic phones">
        <a
          href="https://secondExample.com"
          target="_blank"
        >
          <div class="phone">
            <img
              src="{{site.baseurl}}/img/featured/secondExample/secondExample1.png"
              alt=""
            />
          </div>
          <div class="phone">
            <img
              src="{{site.baseurl}}/img/featured/secondExample/secondExample2.png"
              alt=""
            />
          </div>
          <div class="phone">
            <img
              src="{{site.baseurl}}/img/featured/secondExample/secondExample3.png"
              alt=""
            />
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a
            href="https://secondExample.com"
            target="_blank"
            >secondExample</a
          >
        </div>
        <p>
          Description for the second example.
        </p>
      </figcaption>
    </div>
  </div>
</section>
