<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>mynamebrody.com</span>
    </div>
    <div class="bottom">
      <span>{{site.name}}</span>
      <img
        class="emoji"
        src="/img/emojis/memoji-mask.png"
        alt="emoji"
      />
      <span>2020</span>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img
        src="/img/social/{{link.title}}.svg"
        alt="{{link.title}}"
      />
    </a>
    {% endfor %}
  </div>
</footer>
